* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2 {
    font: 900 2rem "Arial", sans-serif;
  }
  
  .climatica__wrapper,
  .notas__wrapper {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; 
  }
  
  .climatica__wrapper {
    padding: 1rem 0;
    margin-bottom: 2rem;
  
    table {
      width: 20%;
      font-family: 'Times New Roman', Times, serif;
      /* 12px -> 0.75rem */
      font-size: 0.75rem;
      background-color: rgb(240,248,255);
      text-align: center;
    
      th, td {
        /* 1px -> 0.0625rem */
        border: 0.0625rem solid black;
        /* 5px -> 0.3125rem */
        padding: 0.3125rem;
      }
    
      th {
        background-color: rgb(168, 218, 213);
      }
    
      tr:hover {
        background-color: rgb(168, 218, 213);
      }
    }
  }
  
  .notas__wrapper {
    table {
      width: 50%;
      min-width: 18.75rem;
      margin: 3.125rem auto auto auto;
      border: 0.0625rem solid black;
      border-left: none;
      border-right: none;
      border-collapse: collapse;
      text-align: center;
  
      td {
        padding: 0.3125rem;
      }
  
      .text-left {
        text-align: left;
      }
  
      tbody tr:nth-child(odd) {
        background-color: rgb(240,248,255);
      }
    }
  }